# fenglielie@qq.com
# .editorconfig template
# 2023-09-14

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# must use tab
[Makefile]
indent_style = tab

# must use crlf
[*.{bat,cmd,cmd.*}]
end_of_line = crlf

[*.{ps1,ps1.*}]
end_of_line = crlf

[*.{sln,vcproj,vcxproj,props,csproj,fsproj,vbproj,dbproj,shproj}*]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

# data files
[*.{dat,csv,log}]
end_of_line = unset

# unset all
[{**build/**,**out/**,**data/**}]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
